.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  cursor: default;
  z-index: 1;
  transition: opacity 1s linear 0s;
}

.feinman__link:hover {
  opacity: 0.5;
}